<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todo">
	<insert id="insert" parameterType="com.gura.step03.todo.dto.TodoDto">
		INSERT INTO todo
		(num, content, regdate)
		VALUES(todo_seq.NEXTVAL, #{content}, SYSDATE)
	</insert>
	
	<update id="update" parameterType="com.gura.step03.todo.dto.TodoDto">
		UPDATE todo
		SET content=#{content}
		WHERE num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM todo
		WHERE num=#{num}
	</delete>
	
	<!-- resultType="select 된 row 하나를 담을 데이터 type" -->
	<!-- select된 row가 자동으로 dto에 담기게 해주는 조건은 column name == field name -->
	<select id="getData" parameterType="int" resultType="com.gura.step03.todo.dto.TodoDto">
		SELECT num, content, TO_CHAR(regdate,'YYYY.MM.DD HH24:MI') regdate
		FROM todo
		WHERE num=#{num}
	</select>
	
	<select id="getList" resultType="com.gura.step03.todo.dto.TodoDto">
		SELECT num, content, regdate
		FROM todo
		ORDER BY num ASC
	</select>
</mapper>